.landing-background{
    height:100vh;
    min-height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


html {
    /*background-color: cornsilk;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-container {
    display: flex;
    height: 100vh;
    /*width: 50%;*/
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    align-items: center;
}

.landing-text-primary{
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
    padding: 16px 0px;
}

.landing-text-secondary{
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

.landing-text-container{
    width: auto;
    padding: 0;
}

@media screen and (min-width: 420px) {
    .landing-text-container{
        width: 50%;
        padding: 20px;
    }
}

.menu-btn-container{
    text-align: center;
    width: 50%;
}

.menu-btn{
    background-color: brown;
    color: white;
    width:100%;
    padding: 16px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
}


.header-text{
    font-family: 'Alfa Slab One', serif;
    text-transform: uppercase;
    font-size: calc(30px + 5vw);
    margin-bottom:0;
    text-align: center;

}

